body {
    background-color:#9E9E9E;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    flex-grow: 1;
    flex: 1 1 30%;
}

.card-box {
    width: 2000px;
    display: flex;
}

.card {
    box-shadow: 1px 1px 1px 1px;
    margin: 2em;
    /* padding: 0 30px 0 30px; */
    width: 25%;
    height: auto;
    text-align: justify;
    background-color: #F5F5F5;
    flex-basis: 20%;
}

/* img {
    height: 300px;
    width: 2em;
} */

.image-container {
    width: 300px;
    height: 200px;
}
.primaryimage {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.overlay {
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 2;
    max-height: 125px;
    width: auto;
    height: auto;
}

.card-title {
    border-width: 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    background-color: #4CAF50;
    font-family: 'Oswald', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text {
    display: block;
    height: 200px;
}

.available-info {
    width: 100%;
    background-color: darkgrey;
    color: yellow;
    font-family: 'Oswald', sans-serif;
    text-indent: 1em;
}
/* p.height {
    height: 160px;
} */
.dark-primary-color    { background: #616161; }
.default-primary-color { background: #9E9E9E; }
.light-primary-color   { background: #F5F5F5; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.detail-lines {
    line-height:0.25;
    text-indent: 1em;
}
.smallfont {
    font-size: 75%;
}
h1 {
    flex: 1;
}
footer {
    margin-top: auto;
}
@media (max-width: 600px) {
    .card {
        flex-basis: 20%;
    }
}